# Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path="D:/Untar/Project/Tableau/Income Classification/income_evaluation.csv"
ice= pd.read_csv(path, skipinitialspace=True)
ice.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
ice.replace("?", np.nan,inplace=True)

In [4]:
ice.drop(['fnlwgt', 'education-num', 'capital-gain', 'capital-loss'], axis=1, inplace=True)
ice.dropna(inplace=True)
ice.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [5]:
ice.isnull().any()

age               False
workclass         False
education         False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
hours-per-week    False
native-country    False
income            False
dtype: bool

In [6]:
ice.head()

,age,workclass,education,marital-status,occupation,relationship,race,sex,hours-per-week,native-country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

In [7]:
ice.columns=ice.columns.str.replace('-',' ')

In [8]:
ice.head()

,age,workclass,education,marital status,occupation,relationship,race,sex,hours per week,native country,income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K

# Feature Engineering
## Marital Status

In [9]:
ice['marital status'].value_counts()

Married-civ-spouse       14065
Never-married             9726
Divorced                  4214
Separated                  939
Widowed                    827
Married-spouse-absent      370
Married-AF-spouse           21
Name: marital status, dtype: int64

In [10]:
def Marital_Status (data):
    if data == 'Married-civ-spouse' or data =='Married-spouse-absent' or data =='Maried-AF-spouse':
        return 'married'
    return 'single'
ice['marital status']=ice['marital status'].apply(Marital_Status)

## Education

In [11]:
ice['education'].value_counts()

HS-grad         9840
Some-college    6678
Bachelors       5044
Masters         1627
Assoc-voc       1307
11th            1048
Assoc-acdm      1008
10th             820
7th-8th          557
Prof-school      542
9th              455
12th             377
Doctorate        375
5th-6th          288
1st-4th          151
Preschool         45
Name: education, dtype: int64

In [12]:
def Education (data):
    if data == 'Assoc-voc' or data =='Assoc-acdm' or data =='Prof-school':
        return 'vocational'
    elif data == 'Bachelors' or data =='Some-college':
        return 'undergraduate'
    elif data == 'Masters' or data =='Doctorate':
        return 'postgraduate'
    return 'School graduate'
ice['education']=ice['education'].apply(Education)

## Relationship

In [13]:
ice['relationship'] = ice['relationship'].apply(lambda x:' '.join(x.split('-')))

In [14]:
ice['relationship'].value_counts()

Husband           12463
Not in family      7726
Own child          4466
Unmarried          3212
Wife               1406
Other relative      889
Name: relationship, dtype: int64

## Native Country

In [15]:
ice['c'] = ice['native country'].apply(lambda x:' '.join(x.split('-')))

In [16]:
ice['native country'].value_counts()

United-States                 27504
Mexico                          610
Philippines                     188
Germany                         128
Puerto-Rico                     109
Canada                          107
El-Salvador                     100
India                           100
Cuba                             92
England                          86
Jamaica                          80
South                            71
Italy                            68
China                            68
Dominican-Republic               67
Vietnam                          64
Guatemala                        63
Japan                            59
Poland                           56
Columbia                         56
Iran                             42
Haiti                            42
Taiwan                           42
Portugal                         34
Nicaragua                        33
Peru                             30
Greece                           29
Ecuador                          27
France                           27
Ireland                          24
Hong                             19
Trinadad&Tobago                  18
Cambodia                         18
Laos                             17
Thailand                         17
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Hungary                          13
Honduras                         12
Scotland                         11
Holand-Netherlands                1
Name: native country, dtype: int64

## Workclass

In [17]:
ice['workclass'] = ice['workclass'].apply(lambda x:' '.join(x.split('-')))

In [18]:
ice['workclass'].value_counts()

Private             22286
Self emp not inc     2499
Local gov            2067
State gov            1279
Self emp inc         1074
Federal gov           943
Without pay            14
Name: workclass, dtype: int64

## Occupation

In [19]:
ice['occupation'] = ice['occupation'].apply(lambda x:' '.join(x.split('-')))

In [20]:
ice['occupation'].value_counts()

Prof specialty       4038
Craft repair         4030
Exec managerial      3992
Adm clerical         3721
Sales                3584
Other service        3212
Machine op inspct    1966
Transport moving     1572
Handlers cleaners    1350
Farming fishing       989
Tech support          912
Protective serv       644
Priv house serv       143
Armed Forces            9
Name: occupation, dtype: int64

## Occupation Level

In [21]:
def Occupation_Level (data):
    if data == 'Prof specialty' or data =='Exec managerial':
        return 'High Level'
    elif data == 'Sales' or data =='Adm clerical' or data == 'Machine op inspct' or data =='Armed Forces'or data == 'Tech support':
        return 'Mid Level'
    return 'Low Level'
ice['Occupation_Level']=ice['occupation'].apply(Occupation_Level)

In [22]:
ice['Occupation_Level'].value_counts()

Low Level     11940
Mid Level     10192
High Level     8030
Name: Occupation_Level, dtype: int64

 ## Age

In [23]:
ice['age'].value_counts()

36    852
31    851
33    837
34    836
37    828
     ...
82      7
83      5
85      3
88      3
86      1
Name: age, Length: 72, dtype: int64

In [24]:
def age (data):
    if data > 9 and data <=24:
        return 'Young'
    if data > 24 and data <=40:
        return 'Young Adult'
    if data > 40 and data <=56:
        return 'Adult'
    if data > 56 :
        return 'Elder'
    return 'unspecified'
ice['generation']=ice['age'].apply(age)

In [25]:
ice.head()

,age,workclass,education,marital status,occupation,relationship,race,sex,hours per week,native country,income,c,Occupation_Level,generation
0,39,State gov,undergraduate,single,Adm clerical,Not in family,White,Male,40,United-States,<=50K,United States,Mid Level,Young Adult
1,50,Self emp not inc,undergraduate,married,Exec managerial,Husband,White,Male,13,United-States,<=50K,United States,High Level,Adult
2,38,Private,School graduate,single,Handlers cleaners,Not in family,White,Male,40,United-States,<=50K,United States,Low Level,Young Adult
3,53,Private,School graduate,married,Handlers cleaners,Husband,Black,Male,40,United-States,<=50K,United States,Low Level,Adult
4,28,Private,undergraduate,married,Prof specialty,Wife,Black,Female,40,Cuba,<=50K,Cuba,High Level,Young Adult

## Import

In [26]:
ice.to_csv("Income_Evaluation_V2.csv")